main {
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100vw;
    background-color: rgb(169, 208, 233);
  }
  
  .container {
    position: relative;
    height: 800px;
    width: 800px;
    overflow: hidden;
  }
  